@use '../variables/variables' as *;

.hide-scrollbar-vertical {
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}


.Main {
  margin: 0 7rem;
  padding: 20px 0;
  height: $main-height;

  overflow-y: auto;
  overflow-x: hidden;

  @media only screen and (max-width: 821px) {
    margin: 0 2rem;
  }
}
